[submodule "puppet/modules/proxy"]
	path = puppet/modules/proxy
	url = https://github.com/patux/proxy.git
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
